# .github/workflows/cicd.yml

name: package and push docker

on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.repository == 'eventhorizonsky/AniLinkService'
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install pnpm
      run: npm install -g pnpm

    - name: Build frontend
      run: |
        cd ui
        pnpm install
        pnpm run build

    - name: Copy frontend build to backend static resources
      run: |
        mkdir -p api/src/main/resources/static
        cp -r ui/dist/* api/src/main/resources/static/

    - name: Set up Maven
      uses: actions/setup-java@v2
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Build backend with Maven
      run: |
        cd api
        mvn clean package

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_TOKEN }}


    - name: Set Docker image tag (date+commit)
      id: vars
      run: |
        TAG=$(date +'%Y%m%d-%H%M%S')-$(git rev-parse --short HEAD)
        echo "tag=$TAG" >> $GITHUB_OUTPUT

    - name: Build Docker image with tags
      run: |
        docker build -t ghcr.io/eventhorizonsky/anilinkserver:${{ steps.vars.outputs.tag }} -t ghcr.io/eventhorizonsky/anilinkserver:latest .

    - name: Push Docker image with tag
      run: docker push ghcr.io/eventhorizonsky/anilinkserver:${{ steps.vars.outputs.tag }}

    - name: Push Docker image with latest tag
      run: docker push ghcr.io/eventhorizonsky/anilinkserver:latest

    - name: Logout of ghcr
      run: docker logout ghcr.io
